@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto&display=swap');

:root{
  --background-color: #130f1f;
  --text-default-color: #ffffff;
  --button-default-primary-color:#8257e5;
  --button-hover-primary-color: #9776e5;
  --button-default-secondary-color: #3c3748;
  --button-hover-secondary-color: #6a627f;
  --button-default-tertiart-color: #00000000;
  --button-focus-color: #D9CDF7;
  cursor: url(./lib/cursor/cursor-default.svg), auto;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  box-shadow:none;
  font-family: 'Inter', sans-serif;
}
body {
  background: var(--background-color);
  color: var(--text-default-color);
}
#app {
  width: 406px;
  margin: auto;
  padding: 44px;

}
header{
  margin: 107px 0 68px;
}
header h1 {
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 8px;
}
header p {
  font-family: 'Roboto';
  font-size: 19.2059px;
  line-height: 23px;
}
.container-button{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 0;
  border-radius: 24px;
  color: var(--text-default-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button:focus {
  border: 2px solid var(--button-focus-color);
  border-radius: 24px;
}
.button:disabled{
  opacity: 0.56;
  cursor: url(./lib/cursor/cursor-disabled.svg), auto;
}
.button:hover{
  transition: .5s;
}
.button-load {
  border: 2px solid var(--text-default-color);
  width: 16px;
  height: 16px;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;

}
.button:has(.button-load){
  cursor: url(./lib/cursor/cursor-loading.svg), auto;
}
.button:has(.reorderTree){
  cursor: url(./lib/cursor/cursor-movable.svg), auto;
}
/*--------------Setting button primary-------------*/
.button-primary{
  background: var(--button-default-primary-color);
}
.button-primary:hover{
  background: var(--button-hover-primary-color);
}
.button-secondary{
  background: var(--button-default-secondary-color);
}
.button-tertiary{
  background: var(--button-default-tertiart-color);
}
.button-secondary:hover{
  background: var(--button-hover-secondary-color);
}
/*--------------Setting curso------------------*/
@keyframes spin {
  to {transform: rotate(360deg);}
}